*.workspace 
!spec/*.workspace

*.drawio.bkp 
!spec/*.drawio.bkp 

*.bak 
!spec/*.bak

*.~*~ 
!spec/*.~*~

*.cof 
!spec/*.cof

*.err 
!spec/*.err

*.esym 
!spec/*.esym

*.lst 
!spec/*.lst

*.sta 
!spec/*.sta

*.sym 
!spec/*.sym

*.tre 
!spec/*.tre

*.xsym 
!spec/*.xsym

*.d
!spec/*.d

*.i
!spec/*.i

# Maven
target/
dist/
debug/
build/
Project Backups/